.navbar {
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

.appearance {
    appearance: none;
    border: 1px solid;
    outline: none;
}

.subscribe_container,
.no_repeat, .menu_ellipse, .Rectangle {
    background-repeat: no-repeat;
    background-position: center;
}

.input_subscribe, .subscribe, .footer_contact,
.all_computers > div > div > a,
.font18_size22 {
    font-size: 18px;
    line-height: 22px;
}

.font29_size24, .popular_text,
.price_sale, .subscribe_text {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.just_around,
.flex_column, .center, .description, .just_between {
    display: flex;
    flex-direction: column;
}


.menu_ellipse {
    background-image: url("/storage/images/Group221.png");
}

.center {
    align-items: center;
    justify-content: center;
}

.h-500 {
    height: 500px;
}

.Rectangle {
    background-size: 100% 100%;
}

.down {
    transform: rotate(180deg);
}

.Rectangle1 {
    background-image: url("/storage/images/Rectangle1.png");
}

.Rectangle2 {
    background-image: url("/storage/images/Rectangle2.png");
}

.description {
    font-weight: 300;
    text-align: right;
    align-items: flex-end;
}

.description, .just_between {
    justify-content: space-between;
}

.just_around {
    justify-content: space-around;
}

.description_param {
    font-size: 30px;
}

.description_name {
    font-size: 45px;
    line-height: 1.2;
}

.font_size {
    font-size: 45px;
}

p {
    margin-bottom: 0 !important;
}

.explore {
    width: 214px;
    height: 60px;
    border-radius: 30px;
    font-weight: 300;
    font-size: 24px;
    line-height: 50px;
    margin-top: 30px;
}


.evenly {
    justify-content: space-evenly !important;
}

.popular_categories_img {
    width: 170px !important;
    height: 170px;
    border: 1px solid #DEDEDE;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.popular_text {

    text-transform: capitalize;
}

.search {
    border-radius: 35px;
    opacity: 0.3;

}

.sales_name, .yes_sale, .font_16_20 {
    font-size: 16px;
    line-height: 20px;
}

.yes_sale {
    Width: 70px;
    Height: 30px;
    font-weight: 600;
    left: 20px;
}

.hot_sales_imgs_container {
    height: 380px;
    background: #FFFFFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.heart {
    position: absolute;
    right: 20px;
    top: -6px;
}

.img_heart {
    width: 40px;
}

.price_sale {
    text-transform: capitalize;
    /*color: #E11D1D;*/
    margin: 0 10px 0 0;
}

.old_price {

    font-weight: normal;
    color: #ADADAD;
}

.sales_name {

    font-weight: normal;
    border: none;
    color: #747474;
}

.order_now {
    height: 50px;
    border-radius: 30px;
}

.vector_left {
    transform: rotate(180deg);
}

.vector_left_container {
    background-color: #FFFFFF;
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid #DEDEDE;
    right: 0;
    transform: translate(-55px, -20px);
}

.vector_right_container {
    background-color: #FFFFFF;
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid #DEDEDE;;
    right: 0;
    transform: translate(-15px, -20px);
}

.all_computers > div > div > a {

    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

.all_computers > div > div > a:hover {
    color: #E11D1D;
}

.subscribe_container {
    min-height: 660px;
    background-image: url("/storage/images/Rectangle38.png");
}


.input_subscribe {
    height: 54px;
    background: #F5F5F5;
    border-radius: 100px;

    font-weight: normal;
    border: none;
    margin: 8px;
}

.subscribe {
    height: 60px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    font-weight: 600;
}

.subscribe_text {
    font-style: italic;
    text-transform: uppercase;
}

.footer__list {
    background: #151414;
    font-weight: 300;
    font-size: 18px;
    line-height: 44px;
}

.social_container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 14px 0 0;
}


.contact > li {
    display: flex;
    flex-direction: row;
}

.contact > li > div {
    margin-right: 12px;
}

.d_none {
    display: none !important;
}

.line {
    border: 1px solid #DEDEDE;
}

.prod > li > a {
    color: #DEDEDE;
    font-size: 18px;
    line-height: 30px;
}

.about_text {
    font-size: 14px;
    line-height: 24px;
    color: #DEDEDE;
}

div.sm\:hidden {
    display: none;
}


p.text-sm.text-gray-700.leading-5 {
    display: none;
}


span.shadow-sm {
    box-shadow: 0 0 0 0 !important;
}


.row > div:first-child {
    padding: 0;
}

.row {
    justify-content: flex-end;
}


.menu_icon {
    width: 29px;
    height: 29px;
}

.menu_txt {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.align_center {
    display: flex;
    align-items: center;
}

#hidden_menu {
    left: -120px;
    top: 67px;
}

.dropdown-menu {
    min-width: 180px !important;
}

.dropdown-item:active {
    background-color: inherit !important;
}

.menu_Accesories {
    left: -30px !important;
    top: 32px !important;
}

.menu_Accesories > a.dropdown-item {
    padding: 0 24px;
    height: 52px;
}

#hidden_menu > div.dropdown-item {
    padding: 0;
    height: 300px;
}

.menu_content {
    padding: 0 10px;
}

.menu_img {
    width: 60px;
    justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.nav-link {
    padding: 0;
}

.menu_content:hover, .menu_Accesories > .dropdown-item:hover,
.menu_Accesories > .dropdown-item:focus {
    border-left: 6px solid #E11D1D;
    padding: 0 18px !important;
    background: #F2ECEC;
}

.menu_content:hover, .menu_content:focus {
    border-left: 6px solid #E11D1D;
    padding: 0 10px 0 4px !important;

}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: inherit;

}

.hover-color:hover {
    padding-bottom: 0 !important;
    padding-top: 0.5rem !important;
}


.single_currency {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.uppercase {
    text-transform: uppercase;
}

.single_more {
    width: 40%;
    height: 88%;
}

.single_text {
    font-size: 18px;
    line-height: 152.9%;
}

.color {
    min-height: 50px;
}

.color > div {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.color > div:hover, .color > div:focus {
    margin-top: 10px;
}

.radius50_container {
    width: 39px;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    margin: 13px;

}


.single_cart {
    margin-left: 20px;
}

.description_half, .single_description_text {
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
}

.single_description_text {
    text-align: justify;
}

.description_half > ul > li {
    list-style-type: disc
}

.similar_items_container {
    padding: 60px 0;
}

/*    paggination*/

#vectors a,
#vectors span[aria-disabled="true"]:nth-child(1n +2),
#vectors span[aria-current="page"]
{
display: none;
}
 a[rel="prev"] {
    display: block !important;
}

.rounded-md > a:nth-last-child(1){
display: flex !important;
}
#vectors span{
    margin: 0;
    display: flex;
    align-items: center;
}
#vectors > nav {
    position: absolute;
    bottom: -23px;
    right: -34px;
}

.vector {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: -54px;
    right: 12px;
}
.vector button{
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF !important;
    width: 37px;
    height: 37px;
    border-radius: 50% !important;
    border: 1px solid #DEDEDE!important;
    opacity: 1 !important;
    margin: 0 3px !important;
}
.vector button > span{
  font-size: 40px !important;
    padding: 0 0 6px 4px !important;
}


div.sm\:hidden {
    display: none;
}

span.z-0 {
    display: flex;
}

span[aria-current="page"] > span, span[aria-disabled="true"] > span, .rounded-md > a {
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    padding: 0 !important;
    justify-content: center;
    margin: 4px;
    font-weight: 600;
    font-size: 18px;
    color: #333333;
}

span[aria-current="page"] > span {
    background-color: #E11D1D !important;
    color: #FFFFFF !important;
}

.rounded-md > a:nth-child(6n+3) {
    display: none;
}

.dropdown:hover>.dropdown-menu{
    display: block;
}
.dropdown:hover>.dropdown-menu>.dropdown-menu{
    display: block;
}
.dropdown-menu:hover>.dropdown-menu{
    display: block;
}

.z-index-n1 {
    z-index: -1;
}

.radio_input:checked,.radio_input_menu:checked{
    border-radius: 50%;
    background: black;
    color: black;
    appearance: none;
    outline: none;
}
.radio_input_menu:checked {
    padding: 6px;
    margin-right: 1px;
}
.radio_input:checked{
    padding: 5px;
    margin-right: 2.5px;
}
li::marker {
    display: none;
}

li.dropdown-submenu {
    display: block;
    background-color: #F5F5F5;
}

.text-muted:visited {
    font-weight: 600;
}

.transform106 {
    transform: translate(90px, -10px);
}

.navbar-brand {
    padding-bottom: 0 !important;
}

.top_0 {
    top: 0;
}

.owl-stage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#owl_2 .owl-item {
    display: flex;
    justify-content: center;
}

#owl_2 .owl-dots > .owl-dot {
    border: none;
    background-color: transparent;

}

#owl_2 .owl-dots {
    width: 100%;
    position: absolute;
    bottom: 0;
}
#cart-delete, #owl_2 .owl-nav  {
   display: none;
}

.black-heart::before{
    margin: -2px 0 0 -2px;
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url("/storage/images/favorites_black.png");
}

#cart-container:hover #cart-delete{
    display: block;
}
